/node_modules
/public/hot
/public/assets/identity_card_photo
/public/assets/photo
/public/reports
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.live
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.history